<h1 style="margin-left : 450px"> List of People </h1>


<table style=" margin-left : 100px">
    <thead>
        <tr>
            <th>First Name</th>    
            <th>Last Name</th>
            <th>Innovation</th>
            <th>Year</th>
        </tr>
    </thead>
   
    <tbody>
        <tr *ngFor="let people of peopleInfo.complete"> 

                <td>{{people.firstName}}</td>   
                <td>{{people.lastName}}</td>
                <td>{{people.innovation}}</td>
                <td>{{people.year}}</td>    
        </tr>
    </tbody>

</table>