<h1> List of People </h1>


<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Innovation</th>
      <th>Year</th>
    </tr>
   

    <!-- <div *ngFor="let people of peopleList"> -->
    <ul>
       <li>{{peopleInfo.firstName}}</li>


    </ul>

    <!-- </div> -->
<!-- 
    <div *ngFor="let people of peopleList">
        <tr>
        <td>{{people.firstName}}</td>
        <td>{{people.lastName}}</td>
        <td>{{people.innovation}}</td>
        <td>{{people.year}}</td>
        </tr>
    </div>  -->

</table> 